div{
    background-color: yellow;
}


.flexbox-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}



.flexbox-item{
    width: 200px;
    margin:10px;
    border:2px solid black;
    background-color: gray;
}

.flexbox-item1{
    min-height: 100px;
}

.flexbox-item2{
    min-height: 200px;
}

.flexbox-item3{
    min-height: 300px;
}